.text-justify {
    text-align: justify;
}

.card-top {
    margin-bottom: 30px;
    min-height: 200px;
}
.team-profile img {
    max-height: 150px;
}
.team-icon {
    width: 70px;
    height: 70px;
    object-fit: cover;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}
.social-icon {
    width: 40px;
    height: 40px;
}